@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
.header {
  position: absolute;
  z-index: 999;
  background-color: white;
  top: 0;
  left: 0;
  width: calc(100% - 10px);
  font-size: 40px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px black;
  padding: 5px;
  font-family: "Bebas Neue", sans-serif;
}
