.section--left{
    height: 100vh;
    width: 50vw;
    position: relative;
    display: flex;
    justify-content: center;
}

h1 {
    position: absolute;
    bottom: 0;
}

.avatar_config_homepage{
    height: 90vh;
    width: 50%;
}