.jauge {
  margin-top: 50px;
  position: relative;
  width: 50%;
  height: 20px;
  border: 1px solid #000;
  border-radius: 10px;
}

.jauge-fond {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: #df80ac;
}

.jauge-remplissage {
  border-radius: 10px;

  height: 100%;
  transition: width 0.5s ease-in-out;
}
.coeur {
  background-color: #df80ac;
  width: 20%;
}
.crayon {
  background-color: #df80ac;
  width: 40%;
}
.oeuf {
  background-color: #df80ac;
  width: 60%;
}
.fleur {
  background-color: #df80ac;
  width: 80%;
}

.jauge-s {
  border: solid 1px black;
  border-radius: 20px;
}
