.stars1 img,
.stars2 img,
.stars3 img {
  animation: animeTeamRocket 30s linear infinite;
  top: 10%;
}

.stars {
  opacity: 0;
  position: absolute;
}
.stars1 {
  top: 15%;
  left: 15%;
}
.stars2 {
  bottom: 20%;
  left: 20%;
}
.stars3 {
  top: 30%;
  right: 18%;
}
.active{
  opacity: 1;
  transition: 1s ease-in-out;
}

@keyframes animeTeamRocket {
  0% {
    transform: rotate(0deg) scale(1);
  }
  10% {
    transform: scale(0.2) rotate(36deg);
  }
  20% {
    transform: scale(1) rotate(72deg);
  }
  30% {
    transform: scale(0.2) rotate(108deg);
  }
  40% {
    transform: scale(1) rotate(144deg);
  }
  50% {
    transform: scale(0.2) rotate(180deg);
  }
  60% {
    transform: scale(1) rotate(216deg);
  }
  70% {
    transform: scale(0.2) rotate(252deg);
  }
  80% {
    transform: scale(1) rotate(288deg);
  }
  90% {
    transform: scale(0.2) rotate(324deg);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
